<div class="main-container mat-elevation-z4 noselect" matRipple [matRippleRadius]="radius" [matRippleColor]="color">

    <div class="container-fluid h-100 pos-col-center">
        <div class="row pos-col-center">
            <div class="col">
                <h1>procrast</h1>
            </div>
        </div>
        <div class="row pos-col-center">
            <div class="col">
                <h5 class="center-text">an organizational app that visualizes where your time goes</h5>
            </div>
        </div>
        <div class="row pos-col-center">
            <div class="col">
                <button (click)="login()" mat-stroked-button>
                    <div class="login-button">
                        <div class="pos-col-center"><img class="google-logo" src="assets/google-logo.png" /></div>
                        <div class="pos-col-center"><span class="google-caption comfortaa">Login with Google</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
